:host {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  height: 100%;
  width: 100%;

  .info {
    display: grid;
    justify-items: center;
    gap: 1rem;

    img {
      width: calc(var(--vw, 1vw) * 70);
    }
  }
}
