:host {
  display: grid;
  height: 100%;
  align-content: space-evenly;

  form {
    display: grid;
    gap: 1rem;
    text-align: start;

    .info {
      display: flex;
      align-items: center;

      &__icon {
        width: 1rem;
      }
    }
  }
}
